body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #5a5a5d;
}
.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.answers {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.answer {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.answer:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 20px;
    font-size: 18px;
}
.score{
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;

}
#head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
